
.textsub,
p,
a,
h1,
h2,
h3 {
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 2 !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.textmain {
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 2 !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

img {
    width: 100px

}